body {
  background-color: blanchedalmond;
}

.App {
  display: flex;
  justify-content: center;
  margin-top: 13vh;
}

.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.drum-pad {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(208, 0, 0, 0.304);
}

#display {
  display: flex;
  justify-content: center;
  width: auto;
  height: 100px;
  margin: auto;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  background-color:azure;
}

#titleApp {
  display: flex;
  justify-content: center;
}

#footer {
  display: flex;
  justify-content: center;
}